Inkapedia DarkMode fix
Enabled
Live preview
Word wrap
Use smart indentatio­n
Use tabs with smart indentatio­n
Autoclose brackets and quotes
Autocomple­te on typing
Double-­clicking selects tokens
Colorpicke­rs for CSS colors
Display 'Applies to' info
Tab size
4
Keymap
sublime
Theme
default
Highlight
Token under cursor
CSS Linter
CSSLint
Using userstyles.world
splatoonwiki.org
CSS Used from: Embedded ; media=screen
1
1
/* ==UserStyle==
2
@name           Inkapedia DarkMode fix
3
@namespace      github.com/openstyles/stylus
4
@version        1.5.1
5
@description    Userstyle that aims to fix problems with the inkapedia darkmode (not fully complete)
6
@author         WhiteTapeti
7
==/UserStyle== */
Applies to

URLs on the domain
splatoonwiki.org
Remove
Add
8
@-moz-document domain("splatoonwiki.org") {
9
    html {
10
        color-scheme: dark !important;
11
    }
12
​
13
    nav#p-views .selected,
14
    nav#p-namespaces .selected,
15
    nav#p-namespaces li,
16
    nav#p-views li,
17
    nav#p-cactions {
18
        background-color: #27262c;
19
    }
20
​
21
    .vector-menu-dropdown .vector-menu-heading:after {
22
        filter: invert(1)!important;
23
    }
24
​
25
    audio {
26
        border: solid #8c8c8c !important;
27
        border-radius: 2000px !important;
28
    }
29
​
30
    .mw-parser-output .bigrun {
31
        background-image: url('https://files.catbox.moe/ly7j6l.svg')!important;
32
    }
33
​
34
    .mw-parser-output .splatfest {
35
        background-image: url('https://files.catbox.moe/0ui5mm.svg')!important;
36
    }
37
​
38
    .mw-parser-output .bubbleamiibobg {
39
        background-image: url("https://files.catbox.moe/t9nuda.svg")!important;
40
    }
41
​
42
    .mw-parser-output .grizzco {
43
        background-image: url("https://files.catbox.moe/fy9pfq.svg")!important;
44
    }
45
​
46
    .navpopup {
47
        background-color: #27262c;
48
    }
49
​
50
    .popup_drop:hover {
51
        background: #323137;
52
    }
53
​
54
    .popup_drop:hover .popup_menu,
55
    .popup_drop .popup_menu:hover {
56
        background: #323137;
57
    }
58
​
59
    .mw_metadata th {
60
        background-color: #202020;
61
    }
62
​
63
    .mw_metadata td {
64
        background-color: #202020;
65
    }
66
​
67
    #filetoc {
68
        background-color: #202020;
69
    }
70
​
71
    .searchButton[name='go'] {
